h1{
     text-align: center;
     color: red;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 30px;

}

body{
     text-align: center;
     font-size: 18px;

}

h2{
    color:blueviolet;

}

h3{

   color: darkgoldenrod

}

p{
   color: black;
  
}


